*{
    font-family: candara;
}
input{
    height:30px;
    width: 300px;
    font-size: 18px;
    margin: 3px;
}
input[type='submit'],input[type='reset']{
    height: 35px;
    width: 305px;
    background-color: black;
    color:white;
    font-size: 18px;
    border-width: 0px;
    margin: 3px;
}