<center>Express with MySQL Example</center>
<hr>
    Welcome <%=email%>  |   
    <a href="/admin/adminHome">Home</a>    |   
    <a href="/admin/userList">User List</a> |
    <a href="/admin/logout">Logout</a>   
<hr>
