<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./adminHomeHeader.ejs')%>
    <h2>Admin Home</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo veniam laudantium ratione corporis magnam fugiat dolorem obcaecati facilis recusandae soluta, unde praesentium dignissimos. Illum voluptatum asperiores provident totam? Deleniti esse distinctio ab fuga repellendus tenetur aspernatur illum quam suscipit amet, vel eius similique voluptate totam beatae saepe sint eaque atque.</p>
</body>
</html>