<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs')%>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab accusamus amet beatae error id nihil libero rem tenetur earum quaerat ut, sunt sequi delectus accusantium dignissimos magni est saepe nobis laborum nostrum inventore, quae iste, doloremque exercitationem. Iusto odit magnam, quod optio nihil officia, ipsam quasi iste maiores aliquam inventore.</p>
</body>
</html>