<center>Express with MySQL Example</center>
<hr>
    Welcome <%=email%>  |   
    <a href="/user/userHome">Home</a>    |   
    <a href="/user/userAddToDo">Add To Do Task</a> |
    <a href="/user/userViewToDo">View To Do Task</a> |
    <a href="/user/logout">Logout</a>   
<hr>
