<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h3>Example of JWT (jsonwebtoken) for Authentication and Authorization</h3>
    </center>
    <hr>
    <a href="/">Home</a> |
    <a href="/signin">SignIn</a>    |
    <a href="/profile">Profile</a>
    <hr>
    <h3>Home Page</h3>
    <h4><%=message%></h4>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta iusto quia cum quidem quaerat, magnam enim. Dicta accusantium, commodi, sit dolores eaque at veritatis tempore doloremque nisi saepe quo eveniet expedita error blanditiis illo! Cupiditate, vero assumenda blanditiis molestiae officia placeat eum deserunt aperiam praesentium aut porro nulla, ab temporibus!
    </p>
</body>
</html>