<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Example of Sequelize | User Panel</h2>
    </center>
    <hr>
    Welcome <%=email%> | 
    <a href="">Home</a>    |   
    <a href="">Add Todo Task</a>    |   
    <a href="/logout">Logout</a>    
    <hr>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit sunt unde? Voluptates cum dolor nihil minus iusto labore reiciendis rerum numquam culpa veniam quas quia consequatur illo facere itaque dolorum natus animi quo id accusantium, laborum praesentium fuga? Nulla recusandae quas sapiente qui omnis, perspiciatis natus error rem in libero quasi cupiditate ab laboriosam. Blanditiis et distinctio consequatur ipsa dignissimos magnam eum dolore consequuntur obcaecati in! Omnis suscipit dolore ipsum quidem quo sapiente iste sint neque aut, aliquam cumque tempora, quisquam voluptatibus vero assumenda, blanditiis aspernatur! Nihil modi aliquam suscipit, incidunt pariatur aut nobis praesentium officiis ducimus eius facilis.</p>
</body>
</html>