<div id="section">
    <h1>Why SuperMarket Makes Shopping Easy ? </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, veniam commodi ipsum ullam reprehenderit repudiandae provident, pariatur numquam nobis accusamus blanditiis dolores error dolor. Impedit autem sequi aliquid odit aperiam dolore, harum tenetur sunt exercitationem vitae ad, sit molestias nihil error porro sed quisquam quasi rem veniam quas nobis neque. Excepturi eum dolore ab. Numquam placeat repellat dolore rem, qui dolorum magnam aperiam ipsum iure ea natus voluptas dolorem beatae a voluptatum saepe dicta commodi labore quam repudiandae sed pariatur.
    </p>
</div>