<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Example of Express Validator</h2>
    </center>
    <hr>
        <a href="/">Home</a>    |   
        <a href="/register">Register</a>
    <hr>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, laboriosam rem facere est aliquam assumenda, maiores nesciunt tenetur laborum commodi quaerat fugit nemo vero. Recusandae itaque exercitationem hic odio, dolore corrupti laborum corporis minus, molestiae ad delectus repellat voluptas vero reiciendis quae laudantium eveniet cupiditate numquam minima. Rerum, quis quam.</p>
</body>
</html>